
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  
}
.main {
  
    display: flex;
    flex-direction: row;
   margin: 0 auto;
   gap:200px;
   padding: 20px;
 

   background-color: white;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-top-right-radius: 30px;
   border:5px aqua solid;
   box-shadow: 0 0 10px #000000da;
   z-index: 3;
}



.comp {
    display: flex;
    flex-direction: column;
    
  }
  
  h1{
    font-size:40px;
  }
  .comp1,.comp2 {
    position: relative;
    display: flex;
    align-items: center;
   gap:20px;
   border-bottom: 2px black solid ;
   width:300px;
   margin-bottom: 20px;
  }
  .label{
    position: absolute;
    left :32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .text:focus ~ .label,.text:valid ~ .label{
    top:-14px;
    color:purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
   
  .user{
    display: flex;
    justify-content: center;
  }
 button{
   
    border-radius: 20px ;
    padding: 10px;
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    font-size: 20px;
    position: relative;
 } 
a{
    text-decoration: none;
}
.comp3{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
}
input{
   border:none;
   outline: none;
   font-family:Georgia, 'Times New Roman', Times, serif;
   color: black;
   font-size: 18px;
  
 
}
.new{
    display: flex;
    font-size: 20px;
}
/* .block{
    
   position: absolute;
   top: 40%;
   
   transform: translate(-80%, -60%);
   height:500px;
   width:500px;
   
    background-color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
   
   
} */
.diff{
  border-radius: 0%;
}
/* .outer-design{
  height:100vh;
  width:60vw;
  position:absolute;
  top:0;
  left:0;
  clip-path: polygon(0 0, 13% 0, 73% 40%, 50% 100%, 0 100%, 0% 25%);
  background-color: blueviolet;

} */

.block
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.8); */
  z-index: 5;
  backdrop-filter: blur(25px);
  cursor:alias;
}

.model
{
   width: 20vw;
   height: 60vh;
   background-color: pink;
   color: white;
}